header {	
	justify-content: space-between;
}

.photographer_section {
	margin-top: 100px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px;
}

.photographer_section article,
.photographer_section article a {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.photographer_section article a img {
    margin-top: 10px;

	width: 100%;
	height: 100%;

    transform: scale(1.45);
    object-fit: cover;
}

.photographer_section article:nth-child(3) a img {
    margin-left: 20px;
    transform: scale(1.2);
}

@media screen and (max-width: 1052px) {
	.photographer_section {
		grid-template-columns: 1fr 1fr;
		gap: 50px;
	}
}

@media screen and (max-width: 768px) {
	.photographer_section {
		grid-template-columns: 1fr; /* Superposition des éléments, accepte un seul élément par ligne */
		gap: 50px;
	}

	.logo {
		margin-left: unset;
		
		width: 120px;
		height: 35px;
	}

	header {
		margin-top: 30px;

		flex-direction: column;
		justify-content: unset;
		align-items: center;
	}

	header h1 {
		margin-right: unset;
		font-size: 25px;
	}
}