#contact_modal {
	position: absolute;
	top: 0;

	width: 100%;
	height: 100%;

	display: none;

	background: #C4C4C466;
}

.modal {
    padding: 35px;
	margin: 0 auto;

	max-width: 669px;
    width: 100%;
	height: 900px;

	border-radius: 5px;
	background-color: var(--secondary-color);
}

.modal__text-container {
	margin-bottom: 20px;
	width: 100%;
    
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.modal__text-container img {
	width: 42px;
	cursor: pointer;
}

.modal__text-container h2 {
	font-size: 64px;
	font-weight: normal;
	text-align: left;
}

.modal form {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.modal form label {
	font-size: 36px;
    color: #312E2E;
}

.modal form textarea,
.modal form input {
	padding: 10px;
	outline: none;
}

.modal form input {
	width: 100%;
	height: 68px;

	border: none;
	border-radius: 5px;
}

.modal form textarea {	
	width: 100%;

	border: none;
	border-radius: 5px;	
}