#contact_modal {
	display: none;
}

.modal {
    padding: 35px;
	margin: auto;

    width: 50%;

    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	border-radius: 5px;
	background-color: var(--secondary-color);
}

.modal__text-container {
	margin-bottom: 20px;
    width: 100%;
	display: flex;
	justify-content: space-between;
}

.modal__text-container img {
	width: 42px;
	cursor: pointer;
}

.modal__text-container h2 {
	font-size: 64px;
	font-weight: normal;
	text-align: left;
}

.modal form {
    width: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.modal form label {
	font-size: 36px;
    color: #312E2E;
}

.modal form div {
    margin-bottom: 26px;
	width: 100%;

    display: flex;
	flex-direction: column;	
	align-items: self-start;
}

.modal form input {
	width: 100%;
	height: 68px;

	border: none;
	border-radius: 5px;
}