.photograph-stats {
	position: fixed;
	
	bottom: -20px;
	right: 40px;

	width: 376px;
	height: 89px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background: var(--secondary-color);
	border-radius: 5px;
}

/* Photographger Header */

.photograph-header {
	margin: 0 100px;

	min-height: 300px;
	height: 100%;

	background-color: var(--bg-color);
	border-radius: 5px;
}

.photograph-header {
	padding: 50px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}

.photograph-header__text {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.photograph-header__text .name {
	font-size: 64px;
}

.photograph-header__text .country {
	font-size: 24px;
}

.photograph-header__text .desc {
	font-size: 18px;
	color: var(--third-color);
}

.contact_button {
	cursor: pointer;
	padding: 10px;

	width: 170px;
	height: 70px;

	background-color: var(--primary-color);

	color: white;

	font-size: 20px;
	font-weight: bold;

	border: none;
	border-radius: 5px;
}

/* Media Sort Container */

.media-sort__container {
	margin-top: 20px;
	margin-left: 100px;
}

.media-sort__container label {
	margin-right: 20px;

	font-size: 18px;
	font-weight: 700;
}

.media-sort__container select,
.media-sort__container option {
	color: white;
}

.media-sort__container select {		
	cursor: pointer;
	padding: 10px 20px;

	background: var(--primary-color);

	font-size: 18px;
	font-weight: 700;

	border: none;
	border-radius: 5px;
}

/* Media Card */

.title {
	font-size: 24px;
	font-weight: 400;

	color: var(--primary-color);
}

.likes {
	font-weight: 500;
}

.heart {
	cursor: pointer;
	
	width: 21px;
	height: 24px;
}

.media {
	margin: 20px 100px;

	display: grid;
	grid-template-columns: repeat(auto-fit, 350px);
	justify-content: space-between;
	gap: 20px;
}

.media__container {
	width: 350px;
	height: 351px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.media-element {
	width: 350px;
	height: 300px;
}

.media-element img,
.media-element video {
	cursor: pointer;

	width: 100%;
	height: 100%;

	object-fit: cover;
	border-radius: 5px;
}

.media-element video {
	height: 300px;
}

.media-text__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.media-stats__container {
	display: flex;
	align-items: center;
	gap: 5px;
}

/* Responsive */

@media screen and (max-width: 768px) {
	header {
		justify-content: center;
	}

	.logo {
		margin-left: unset;
	}

	.photograph-stats {
		bottom: -35px;
		width: 100%;
		right: unset;
	}

	.photograph-header {
		margin: 0 20px;
		justify-content: center;
	}

	.photograph-header__text {
		text-align: center;
	}

	/* Media Sort */

	.media-sort__container {
		margin-left: 20px;
	}

	.media {
		justify-content: center;
	}
}