.photograph-header {
	margin: 0 100px;
	height: 300px;

	background-color: var(--bg-color);	
}

.contact_button {
	cursor: pointer;
	padding: 10px;
	
	width: 170px;
	height: 70px;

	background-color: var(--primary-color);;
	color: white;

	font-size: 20px;
	font-weight: bold;
	
	border: none;
	border-radius: 5px;
}