:root {
	--primary-color: #901C1C;
	--secondary-color: #DB8876;
	--third-color: #525252;
	--bg-color: #FAFAFA;
}

/*
:root {
	--primary-color: #901C1C;
	--secondary-color: #DB8876;
	--third-color: #525252;
	--bg-color: #FAFAFA;
}
*/

* {
	padding: 0;
	margin: 0;

	font-family: "DM Sans", sans-serif;
	color: black;

	box-sizing: border-box;
}

header {
	height: 90px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

h1 {
	margin-right: 100px;
	color: var(--primary-color);
}

a {
	text-decoration: none;
}

/* Global Class */

.logo {
	margin-left: 100px;
	height: 50px;	
}

.pfp {	
	width: 200px;
	height: 200px;

	overflow: hidden;
	border-radius: 50%;
}

.name {
	font-size: 36px;
    font-weight: 400;
    
    color: #D3573C;
}

.country {
	font-size: 13px;
    font-weight: 400;

	color: var(--primary-color);
}

.desc {
	font-size: 10px;
}

.price {
	font-size: 9px;
	color: #757575;
}