* {
	padding: 0;
	margin: 0;

	font-family: "DM Sans", sans-serif;
	box-sizing: border-box;
}

header {
	height: 90px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

h1 {
	margin-right: 100px;
	color: #901C1C;
}

.logo {
	margin-left: 100px;
	height: 50px;	
}

.pfp {	
	width: 200px;
	height: 200px;

	overflow: hidden;
	border-radius: 50%;
}