:root {
	--primary-color: #901C1C;
	--secondary-color: #DB8876;
	--third-color: #525252;
	--bg-color: #FAFAFA;
}

/*
:root {
	--primary-color: #901C1C;
	--secondary-color: #DB8876;
	--third-color: #525252;
	--bg-color: #FAFAFA;
}
*/

* {
	padding: 0;
	margin: 0;

	font-family: "DM Sans", sans-serif;
	color: black;

	box-sizing: border-box;
}

body {
	margin: 0 auto;

	max-width: 1440px;
	width: 100%;

	box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;

	height: 90px;
}

h1 {
	margin-right: 100px;
	color: var(--primary-color);
}

a {
	text-decoration: none;
}

/* Global Class */

.logo {
	margin-left: 100px;
	height: 50px;
}

.pfp {
	width: 200px;
	height: 200px;

	overflow: hidden;
	border-radius: 50%;
}

.pfp img {
	margin-top: 10px;

	width: 100%;
	height: 100%;

	transform: scale(1.45);
	object-fit: cover;
}

.tracy {
	margin-left: 20px;
	transform: scale(1.2) !important;
}

.name {
	font-size: 36px;
	font-weight: 400;

	color: #D3573C;
}

.country {
	font-size: 13px;
	font-weight: 400;

	color: var(--primary-color);
}

.desc {
	font-size: 10px;
}

.price {
	font-size: 9px;
	color: #757575;
}